
html{
    background-image: url(image/130484-kosmicheskoe_prostranstvo-atmosfera-atmosfera_zemli-vselennaya-astronomiya-1920x1080.jpg);
    
}
.main-text{
    color: rgb(233, 143, 7);
    margin: 2cm;
    border-radius: 0%;
}
.additional-text{
    color: rgb(233, 143, 7);
    margin: 2cm;
}
.line-list{
    color: rgb(233, 143, 7);
    margin: 1.5cm;
}
.line{
    margin: 1.5cm;   
}
.photo{
    max-width: 100%;
   
}

